.message-alert {
  position: fixed;
  min-width: 10%;
/*  top: 56px;*/
  bottom: 10px;
  right: 20px;
  z-index: 1100;
  transition: all 6s cubic-bezier(1, 0.08, 0, 1);
  animation: arrowef 12s infinite ease-in-out;
}

@keyframes arrowef {
  0%   {bottom: 10px;}
  100% {bottom: 150px;}
}

.alert-success {
  color: #444;
/*  background-color: #d4edda;*/
  border-color: #999;
  background: white \9;
  filter: alpha(opacity=65) \9;
  background-color: rgba(239, 235, 230, .65);
/*  opacity: 0.65 !important;*/
}
.alert-danger {
  color: #fff;
  border-color: #dc3545;
  background: white \9;
  filter: alpha(opacity=65) \9;
  background-color: rgba(220, 53, 69, .65);
/*  opacity: 0.65 !important;*/
}
.alert-warning {
  color: #444;
  border-color: #ffc107;
  background: white \9;
  filter: alpha(opacity=65) \9;
  background-color: rgba(255, 193, 7, .65);
/*  opacity: 0.65 !important;*/
}